* {
    margin: 0;
    padding: 0;
}


.tihe{
    background-color:#CEE741 ;
    padding: 4vh;
  
}

.nav{
display: flex;
  justify-content: space-around;
background: #0CA75E;  
  padding: 2vh;
 
}

.section{
    display: flex;
flex-direction: row;
justify-content: space-around;
}



.img{
    width: 29%;
    height: 29%;
    display: flex;
   
    filter:  drop-shadow(0px 0px 12px grey);
}

.texto{
     width: 38vw;
     font-size: 1.2em;
    
}

.footer{
    background: #0CA75E;
    height: 10vh;  

}